* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}
svg {
  cursor: pointer;
  padding: 3em;
}

h1 {
  font-size: 3rem;
}
.dark,
.light {
  opacity: 0;
  position: absolute;
  top: 1em;
}
